<div class="container mt-5">

      <div *ngIf="errormsg" class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{errormsg}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>

      <div *ngIf="error" class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{error}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>

      <div *ngIf="successmsg" class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{successmsg}}</strong> Successfully.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>

    <form [formGroup]="userForm">
        <div class="col-lg-6 mt-2">
            <input type="text" class="form-control" formControlName="id" placeholder="Enter Id">
        </div>

        <div class="col-lg-6 mt-2">
            <input type="text" class="form-control" formControlName="fullname" placeholder="Enter Full Name">
        </div>

        <div class="col-lg-6 mt-2">
            <input type="text" class="form-control" formControlName="email" placeholder="Enter Email">
        </div>

        <div class="col-lg-6 mt-2">
            <input type="text" class="form-control" formControlName="mobile" placeholder="Enter Mobile Number">
        </div>

        <div class="col-lg-4 mt-2" *ngIf="!getparamid" (click)="userSubmit()" >
            <button type="submit" class="btn btn-primary btn-sm">Create</button>
        </div>
        <div class="col-lg-4 mt-2" *ngIf="getparamid" (click)="userUpdate()" >
            <button type="submit" class="btn btn-dark btn-sm">Update</button>
        </div>
    </form>
</div>
